In [100]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [101]:
df = pd.read_csv('loan2.csv')

In [102]:
dependent=[]
for i in df['Dependents']:
    if i == '3+':
        dependent.append('3')
    else:
        dependent.append(i)
df['Dependents'] = dependent

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Education_Not Graduate,Self_Employed_Yes,Married_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
1,LP001003,1,4583,1508.0,128.0,360.0,1.0,1,0,0,1,0,0,0
2,LP001005,0,3000,0.0,66.0,360.0,1.0,1,0,1,1,0,1,1
3,LP001006,0,2583,2358.0,120.0,360.0,1.0,1,1,0,1,0,1,1
4,LP001008,0,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,1,1
5,LP001011,2,5417,4196.0,267.0,360.0,1.0,1,0,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,2900,0.0,71.0,360.0,1.0,0,0,0,0,0,0,1
610,LP002979,3,4106,0.0,40.0,180.0,1.0,1,0,0,1,0,0,1
611,LP002983,1,8072,240.0,253.0,360.0,1.0,1,0,0,1,0,1,1
612,LP002984,2,7583,0.0,187.0,360.0,1.0,1,0,0,1,0,1,1
613,LP002990,0,4583,0.0,133.0,360.0,0.0,0,0,1,0,1,0,0

# Handling categorical features

In [103]:
df=pd.get_dummies(df,columns=['Gender','Education','Self_Employed','Married','Property_Area','Loan_Status'])

In [104]:
df.shape

(614, 20)

In [105]:
df.isnull().sum()

Loan_ID                     0
Dependents                 15
ApplicantIncome             0
CoapplicantIncome           0
LoanAmount                 22
Loan_Amount_Term           14
Credit_History             50
Gender_Female               0
Gender_Male                 0
Education_Graduate          0
Education_Not Graduate      0
Self_Employed_No            0
Self_Employed_Yes           0
Married_No                  0
Married_Yes                 0
Property_Area_Rural         0
Property_Area_Semiurban     0
Property_Area_Urban         0
Loan_Status_N               0
Loan_Status_Y               0
dtype: int64

In [107]:
df=df.dropna()
df.shape

(517, 20)

In [108]:
df['Property_Area_Semiurban'].value_counts()

0    312
1    205
Name: Property_Area_Semiurban, dtype: int64

In [109]:
X=df.drop(columns=['Loan_Status_Y','Loan_ID'])
Y=df['Loan_Status_Y']
X_train,X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.30, random_state=20)

In [87]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()
model.fit(X_train,Y_train)
predictions=model.predict(X_test)
print(accuracy_score(Y_test,predictions))

0.8076923076923077

In [114]:
from sklearn.naive_bayes import BernoulliNB
model=BernoulliNB(alpha=3)
model.fit(X_train,Y_train)
predictions=model.predict(X_test)
print(accuracy_score(Y_test,predictions))

1.0